<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  
    <display-name>com.apress.prodmserver.vehicle.web</display-name>

    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>
    
    <context-param>
      <param-name>contextClass</param-name>
      <param-value>
         com.springsource.server.web.dm.ServerOsgiBundleXmlWebApplicationContext
      </param-value>
    </context-param>
    
    <listener> 
      <listener-class>
       org.springframework.web.context.ContextLoaderListener
      </listener-class>
    </listener>
    
    <servlet> 
        <servlet-name>vehicle</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    </servlet>
   
    <servlet-mapping>
         <servlet-name>vehicle</servlet-name>
         <url-pattern>*.htm</url-pattern>
    </servlet-mapping>
         

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>
